.portefolioContainer{
    /* margin-top: 20px;
    margin-bottom: 20px; */

}

.portefolioContainer .gridPortefolioCard .MuiCard-root{
    background: rgb(131,58,180);
    background: -moz-linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(45,114,204,0.9094012605042017) 76%, rgba(123,176,177,0.7161239495798319) 100%);
    background: -webkit-linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(45,114,204,0.9094012605042017) 76%, rgba(123,176,177,0.7161239495798319) 100%);
    background: linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(45,114,204,0.9094012605042017) 76%, rgba(123,176,177,0.7161239495798319) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#7bb0b1",GradientType=1);
    box-shadow: 0 8px 32px 0 rgba(76, 76, 77, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.portefolioContainer .section_title .section_title_text{
    color: black
}

.section_title > span {
    background-color:var(--main-color) !important;
    position: absolute;
    height: 7px;
    width: 100%;
    bottom: 7px;
    opacity: 0.4;
    left: 0;
  }

  .projIconSection{
      display: flex;justify-content: center;
  }