.navbarContainer {
  margin-bottom: 30px;
  padding: 0px 22px 0px 0px;
  background: rgb(131,58,180);
  background: -moz-linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(45,114,204,0.9094012605042017) 76%, rgba(123,176,177,0.7161239495798319) 100%);
  background: -webkit-linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(45,114,204,0.9094012605042017) 76%, rgba(123,176,177,0.7161239495798319) 100%);
  background: linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(45,114,204,0.9094012605042017) 76%, rgba(123,176,177,0.7161239495798319) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#7bb0b1",GradientType=1);
  box-shadow: 0 8px 32px 0 rgba(76, 76, 77, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  height: 70px;
  width: 100%;
  line-height: 70px;
}

.navbarContainer .headerLink {
  font-weight: 500;
  color: rgb(224, 224, 228) !important;
}

.navbarContainer .headerLink:hover {
  color: var(--main-color) !important;
}

.navbarContainer .headerActiveLink {
  font-weight: 500;
  color: var(--main-color) !important;
}

.navbarContainer .navHome {
  background-color: var(--main-color) !important;
  display: flex;
  padding: 22px;
  justify-content: center;
  align-items: center;
  border-radius: 6px 0px 0px 6px;
}
.navbarContainer .headerLeft {
  margin-right: auto;
}

.navbarContainer .headerRightDiv {
  display: flex !important;
  align-items: center !important;
}

.navbarContainer .headerRightDiv > a > .MuiSvgIcon-root {
  font-size: 16px;
  margin-right: 12px;
  color: black;
}
