.App {
  display: flex;
  justify-content: space-between;
  align-items: top;
  /* background-color: aqua; */
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;

  }
}
