:root{
  --main-color:#a200ff;
  --dark-bg-container:#161b22;
}

.App {
  display: flex;
  justify-content: space-between;
  align-items: top;
  /* background-color: aqua; */
  width: 100%;
}

.MuiGrid-container{
  padding: 10px;
}

@media only screen and (max-width: 800px) {
  .App {
    display: flex;
    flex-direction: column;

  }
  .containerMain{
    margin-top: 30px;
  }
}
