* {
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: rgb(131,58,180);
background: -moz-linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(201,45,204,0.9094012605042017) 66%, rgba(247,240,245,0.9682247899159664) 100%);
background: -webkit-linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(201,45,204,0.9094012605042017) 66%, rgba(247,240,245,0.9682247899159664) 100%);
background: linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(201,45,204,0.9094012605042017) 66%, rgba(247,240,245,0.9682247899159664) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#f7f0f5",GradientType=1);}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
