* {
  margin: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 0;
    padding:0;
    /* background: rgb(131,58,180);
    background: -moz-linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(45,114,204,0.9094012605042017) 76%, rgba(123,176,177,0.7161239495798319) 100%);
    background: -webkit-linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(45,114,204,0.9094012605042017) 76%, rgba(123,176,177,0.7161239495798319) 100%);
    background: linear-gradient(133deg, rgba(131,58,180,1) 0%, rgba(45,114,204,0.9094012605042017) 76%, rgba(123,176,177,0.7161239495798319) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#7bb0b1",GradientType=1); */
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
