.aboutMeContainer {
  width: 100%;
  display: inline-block;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba(76, 76, 77, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.aboutMeNameTitle {
  line-height: 18px;
  padding: 20px;
}

.aboutMeNameTitle .name {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bold;
}
.aboutMeNameTitle .title {
  color: #777;
  font-size: 13px;
}

.aboutmeIMG {
  margin-top: -40px;
  -webkit-clip-path: polygon(0 9%, 100 0%, 100% 94%, 0% 100%);
  clip-path: polygon(0 9%, 100% 0, 100% 94%, 0% 100%);
}

.aboutmeIMG img {
  width: 100%;
  /*black and white*/
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

/* timeline About Me */

.timelineAboutme {
  top: 0;
  left: 0;
  margin: -40px 10px 30px;
}

.timelineAboutme .timelineContent {
  margin-top: 2px;
  margin-bottom: 10px;
}

.timelineText {
  font-size: 13.5px !important;
  color: #787878;
  font-weight: 400;
}
.timelineText > a {
  text-decoration: none;
}

.timelineText > span {
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.aboutMeContainer .btnDlCvContainer {
  width: 100%;
  display: flex !important;
  justify-content: center;
  margin-top: 15px;
}
